<%= form_with(model: [@post, @comment], remote: true) do |form| %>
  <%=%>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      *<%= form.label :nombre %>:
      <%= form.text_field :name, class: "form-control col-lg-3 col-md-12 col-xs-12" %>
    </div>
    <div class="form-group">
      *<%= form.label :apellido %>:
      <%= form.text_field :last_name, class: "form-control col-lg-3 col-md-12 col-xs-12" %>
    </div>

    <div class="form-group">
      *<%= form.label :comentario %>:
      <%= form.text_area :body, class: "form-control col-lg-12 col-md-12 col-xs-12" %>
    </div>

  <div class="actions">
    <%= form.submit "Comentar" %>
  </div>
<% end %>
