<p id="notice"><%= notice %></p>

<% @posts.reverse.each do |post| %>
  <div id="post_min_container" class="card container col-lg-7 col-md-6 col-xs-12">
    <h5 class="card-header dark"><%= post.category.capitalize %></h5>
    <%= image_tag(url_for(post.cover), id: "post-image-index", class: "container col-lg-12 col-md-12 col-xs-12") if post.cover.attached? %>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= truncate(post.body, separator: ' ', length: 160) %>.</p>
      
      <%= link_to 'Ver mas...', post, class: "btn btn-dark" %>
    </div>
    <div class="card-footer text-muted">
      <%= post.created_at.strftime('%Y-%m-%d') %>
    </div>
  </div>  
<% end %>

<%= will_paginate @post, class: "Page navigation example"%>
